*,
*::before,
*::after {
    box-sizing: border-box;
}

/*---------------------------------
CSS VARIABLES
---------------------------------*/
:root {
    /* フォント(全て）*/
    --ff: "Inter", sans-serif;
}

/*---------------------------------
ENTIRE PAGE SETTING
---------------------------------*/
/* 1rem = 10pxに設定 */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
/* 全てのフォントをinterに設定 */
body {
    font-family: var(--ff);
    font-variant-numeric: normal;
    margin: 0;
    padding: 0;
}

/*---------------------------------
フラッシュメッセージ
---------------------------------*/
.session-message {
    padding: 12px 16px;
    font-size: clamp(0.7rem, 1vw, 1.4rem);
    font-weight: bold;
    color: #fff;
}

/* 成功メッセージ */
.session-message--success {
    background-color: lightseagreen;
}

/* エラーメッセージ */
.session-message--error {
    background-color: #e53e3e;
}

/*---------------------------------
validationエラーメッセージ
---------------------------------*/
.form-error {
    color: #ff3333;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(0.3rem, 1vw, 0.5rem);
    white-space: nowrap;
    font-weight: 700;
}

/*---------------------------------
HEADER
---------------------------------*/
.header {
    width: 100%;
    min-height: clamp(8rem, 12vh, 12rem);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: left;
    background-color: black;
}

.logo-image {
    padding: clamp(1rem, 4vw, 2.2rem) clamp(0.5rem, 3vw, 2.5rem);
    width: clamp(15rem, 40vw, 37rem);
    height: auto;
}

.nav {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(1rem, 4vw, 3rem);
    font-size: clamp(1rem, 2vw, 2.4rem);
    margin-right: clamp(0.7rem, 10vw, 4rem);
}

.nav__logout-form {
    grid-column: 1;
    grid-row: 1;
}

.nav__logout-btn {
    height: auto;
    all: unset;
    color: white;
}

/* 共通リンク */
.nav__link {
    color: white;
    text-decoration: none;
}

.nav__logout-btn:hover,
.nav__link:hover {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
}

/* メディアクエリ */
@media (max-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 1fr; /* 1列 */
        grid-template-rows: auto auto; /* ロゴ行＋ナビ行 */
        padding: 20px;
        min-height: clamp(6rem, 12vh, 10rem);
        justify-items: center;
    }

    .header__logo {
        grid-row: 1; /* ロゴは上段 */
        justify-content: center;
    }

    .logo-image {
        width: 60vw;
        max-width: 25rem;
        height: auto;
    }

    .nav {
        grid-column: 1;
        grid-row: 2; /* navは下段 */
        justify-content: center;
        text-align: flex-start;
        gap: clamp(0.7rem, 3vw, 1.8rem);
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    .nav__link,
    .nav__logout-form {
        font-size: clamp(1.2rem, 2vw, 1.6rem);
    }
}
